body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header styles */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  color: #4d5ae5;
}

.logo-dark {
  color: #2e2f42;
}

.nav-list {
  display: flex;
}

.nav-items:not(:last-child) {
  margin-right: 40px;
}

.nav-link-current {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.nav-link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.address-list {
  display: flex;
}

.address-items:not(:last-child) {
  margin-right: 40px;
}

.address-link {
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Hero styles */

.hero-section {
  background-color: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-image/people-office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 1440px;
  margin-bottom: 48px;
  color: #ffffff;
}

.hero-button {
  font-weight: 500;
  line-height: 1.17;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Features styles */

.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-items {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  padding: 24px 100px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
}

.features-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features-items:hover .features-icon,
.features-items:focus .features-icon {
  fill: #4d5ae5;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

/* Team styles */

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}

.team-members-list {
  display: flex;
  gap: 24px;
}

.team-members-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  background-color: #ffffff;
  box-shadow:
    0 1px 6px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member-wrapper {
  padding: 32px 0;
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}

.team-position {
  text-align: center;
  margin-bottom: 8px;
}

.team-socials-list {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 24px;
}

.team-socials-item {
  width: 40px;
  height: 40px;
}

.team-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}

.team-socials-icon {
  fill: #f4f4fd;
}

/* Portfolio styles */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-items {
  flex-basis: calc(100% - (24 * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover {
  cursor: pointer;
  box-shadow:
    0 1px 6px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

.portfolio-item-wrapper {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-card {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover .portfolio-overlay-text,
.portfolio-items:focus .portfolio-overlay-text {
  transform: translateY(0);
}

/* Footer styles */

.footer-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.logo-footer-group {
  margin-right: 120px;
}

.logo-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #4d5ae5;
}

.logo-light {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  color: #f4f4fd;
}

.socials-footer-title {
  font-weight: 500;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}

.socials-footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.socials-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-footer-link:hover,
.socials-footer-link:focus {
  background-color: #31d0aa;
}

.socials-footer-icon {
  fill: #f4f4fd;
}

.subscribe-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 80px;
}

.subscribe-footer-form {
  display: flex;
  gap: 24px;
  max-width: 264px;
}

.subscribe-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}

.subscribe-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  caret-color: #ffffff;
  color: #ffffff;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  outline: none;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition:
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-footer-form .subscribe-input:hover,
.subscribe-footer-form .subscribe-input:focus {
  border: 1px solid #31d0aa;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  margin-left: 24px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4d5ae5;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #31d0aa;
}

.subscribe-button-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 408px;
  min-height: 584px;
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}

.modal-input-wrapper {
  position: relative;
}

.modal-input {
  border: 1px solid;
  border-color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 38px;
  padding-right: 8px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  caret-color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: #4d5ae5;
  outline: none;
  fill: #4d5ae5;
}

.modal-input-wrapper:focus-within .modal-input-icon,
.modal-input-wrapper:hover .modal-input-icon {
  fill: #4d5ae5;
}

.textarea-group {
  margin-bottom: 16px;
}

.modal-textarea {
  border: 1px solid;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  caret-color: #2e2f42;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: #4d5ae5;
  outline: none;
}

.privacy-field {
  position: relative;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

/* .checkbox-input {
  border-radius: 2px;
  border: 1px solid;
  border-color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition:
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 */

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.user-privacy-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid;

  border-color: rgba(46, 47, 66, 0.4);
  fill: transparent;
  background-color: transparent;
  border-radius: 2px;
  margin-right: 8px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .privacy-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.checkbox-input:checked + .modal-checkbox-label .user-privacy-span {
  border-color: #4d5ae5;
  background-color: #4d5ae5;
  fill: #ffffff;
}

/* .checkbox-input:checked + .modal-checkbox-label .privacy-icon {
  
} */

.privacy-link {
  text-decoration: underline;
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}
